<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.accessibility.service">

    <application>

        <service android:name="com.accessibility.service.MyAccessibilityService"
                 android:exported="false"
                 android:label="MyAccessibilityService"
                 android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                    android:name="android.accessibilityservice"
                    android:resource="@xml/accessible_base_service" />
        </service>

    </application>
</manifest>
