<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.buy.together">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.READ_LOGS" tools:ignore="ProtectedPermissions"/>
    <uses-permission
            android:name="android.permission.INTERACT_ACROSS_USERS"
            tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>


    <application
            android:name=".MyBaseApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <!-- 配置APP ID -->
        <meta-data
                android:name="BUGLY_APPID"
                android:value="bddd8c650b" />
        <!-- 配置APP版本号 -->
        <meta-data
                android:name="BUGLY_APP_VERSION"
                android:value="1.0.0" />
        <!-- Xposed -->
        <meta-data
                android:name="xposedmodule"
                android:value="true"/>
        <meta-data
                android:name="xposedminversion"
                android:value="54"/>
        <meta-data
                android:name="xposeddescription"
                android:value="拼多多辅助插件"/>
        <service
                android:name=".service.KeepLiveService"
                android:enabled="true"
                android:priority="1000"
                android:exported="true">
        </service>

        <activity android:name=".MainActivity"
                  android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
                android:name="com.utils.common.screen.ScreenShotActivity"
                android:exported="true"
                android:theme="@android:style/Theme.Dialog">
            <intent-filter>
                <action android:name="android.screen.shot"></action>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>